* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// fonts:
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@600&family=Space+Mono:wght@400;700&display=swap");

$font-family-primary: "Space Mono", monospace;
$font-family-secondary: "Montserrat", sans-serif;
$font-family-title: "Inconsolata", monospace;
$font-family: $font-family-primary;

$gray: #333333;
$gray2: #4f4f4f;
$white: #ffffff;

@mixin text(
  $font-family: $font-family,
  $font-weight: 400,
  $font-size: 14px,
  $line-height: 24px,
  $color: $gray
) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

.page {
  padding: 20px 24px 0px;
  display: grid;
  grid-template-rows: auto;
  gap: 64px;
  min-height: 100vh;

  .header {
    &__title {
      @include text($font-family-title, 700, 24px, 25px);
      text-transform: uppercase;
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    &__image_container {
      max-width: 360px;
      margin: 0 auto;
      padding: 0 36px;

      .main__image {
        width: 100%;
        height: 100%;
        object-fit: contain;
        animation: image_animation 1850ms ease-in 1500ms;
        animation-fill-mode: forwards;
      }
    }

    .title {
      @include text($font-family-primary, 700, 48px, 71px);
      margin-bottom: 30px;
    }
    .text {
      @include text($font-family-primary, 400, 18px, 27px, $gray2);
    }
    .button {
      text-transform: uppercase;
      @include text($font-family-primary, 700, 14px, 21px, $white);
      background-color: $gray;
      text-decoration: none;
      padding: 24px 43px;
      display: inline-block;
      margin: 66px 0;
      transition: all 0.2s ease-in-out;
      transform-origin: bottom;

      &:hover {
        background: $gray2;
      }
    }
  }

  .footer {
    align-self: end;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 64px;

    &__address {
      @include text($font-family-secondary, 600, 14px, 17px, $gray);
    }
    &__link {
      @include text($font-family-secondary, 600, 14px, 17px, $gray);
      text-decoration: none;
      position: relative;
    }
    &__link::after {
      content: "";
      background-color: #4f4f4f;
      position: absolute;
      bottom: -1px;
      left: 0;
      height: 2px;
      border-radius: 1.5px;
      width: 0px;
    }
    &__link:hover::after {
      width: 100%;
      transition-property: all;
      transform-origin: right;
      transition-duration: 575ms;
      transition-delay: 180ms;
    }
  }
}

@media (min-width: 640px) {
  .page {
    max-width: 1024px;
    margin: auto;

    .main {
      display: flex;
      flex-direction: row;
    }
  }
}

@keyframes image_animation {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-50px) translateX(20px);
  }
  60% {
    transform: translateY(-50px) translateX(20px) rotateZ(360deg);
  }
  100% {
    transform: translateY(0px) translateX(0px) rotateZ(360deg);
  }
}
